<%= link_to repo[:url], class: "list-group-item list-group-item-action", target: :_blank do %>
  <h1 class="d-flex flex-wrap"><%= repo[:name] %></h1>
  <p class="d-flex flex-wrap"><%= repo[:description] %></p>
<% end %>
